* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(20, 20, 20);
}

.pandora {
  min-width: 400px;
  min-height: 400px;
}


.formulaire__label {
    font-size: 1.2rem;
    font-style: normal;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

h2 {
    padding: 0 0 10px 0;
    font-size: 5.5rem;
    font-family: "AniMe Vision Font";
    color: rgb(255, 255, 255);
    src: url("01-flex/InternalFonts/AniMe Vision Font.otf") format("opentype");
}

h3 {
    padding: 0 0 10px 0;
    font-size: 1rem;
}

.adresse_H3 {
    padding: 0 0 10px 0;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
p {
    font-size: 0.9rem;
    font-style: normal;
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.74);
}

code {
    color: rgba(255, 255, 255, 0.808);
}

.entete{
    background-color: rgb(90, 90, 90);
}

.nav {
    display: flex;
    justify-content : space-between;
    gap: 20;
}

.nav a {
 color : rgb(21, 21, 21)
}

.recherche__input {
    border-radius: 105px;
    border-style: inset;
    background-color: rgba(57, 68, 58, 0.29);
}

.principal{
    background-color: rgb(51, 51, 51);
    
}
.pied {
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: flex-start;
}

.global {
    background-color: rgba(46, 46, 46, 0.158); 
    max-width : 1100px;
    margin: 0 auto;
    padding: 21px;
    z-index: 2;
}

.inscription {
    background-image: url('image/WaitingArticle');
 }

.entete__global{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.entete__titre h1 {
    margin: 0;
}

.principal__conteneur {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.principal__article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 350px;
    gap: 100px;
    background-color: rgba(0 ,0 ,0 , 0.1);
    outline-color: rgb(255, 0, 0);;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    display : flex;
    justify-content: space-between;
    
    
    
}

.principal__article {

    display : flex;
}

.date {
    display : flex;
    justify-content: center;
}

.date_2 {
    display : flex;
    justify-content: center;
}

.rotating {
    display: flex;
    flex-direction: column-reverse;

}

.centre{
    max-width: 1500px;
    margin:0 auto;
}
table {
    border : 1px solid #aaa;
    width : 100%;
    /* margin:0 auto; */
}

td,th {
    border : 1px solid #aaa;
    padding: 5px;
    font-size: 4rem;
    font-family:"AniMe Vision Font";
}

th {
    text-align: left;
}

thead{
    background-color: aqua;
}
tbody{
    background-color: rgb(45, 53, 53);
}
tfoot{
    background-color: rgb(249 1 1);
}
caption {
    font-size: 6rem;
    background-color: rgb(146, 146, 146);
    font-family:"AniMe Vision Font";
}

.TextPosition {
    text-align: center;
    color : #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

tbody tr:nth-of-type(odd){
    background-color: #ffffff79;
}
tbody tr:hover{
     background-color: #e1e1e1;
     color : #fff;
}

.pied {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.second__conteneur {
    display: flex;
   flex-direction: row;
   gap: 10px;
   padding : 20px;
   
}

.second__article {
    gap: 10px;
    
    outline-color: rgb(255, 0, 0);;
    padding: 10px;
    
    
    
}

.image {
    
    border-radius: 7px;
    
}

.navig {

display: flex;
flex-direction: column;
}

.backgroundgif {
    z-index: 1;
}


a.button{
      display: inline-block;
      padding : 10px 30px;
      background: linear-gradient(264deg, rgb(0 0 0) 0%, rgb(251 251 251) 100%);
      /*  width : 200px; */
      font-size: 2rem;
      text-decoration: none;
      color : #fff;
      border-radius: 5px;
      text-align: center;
      z-index: 3;
}
button:hover{
  background-color: rgba(255, 0, 0, 0.986);
  z-index: 3;
}


.ImmersiveImage_1:hover{
  color : #fff;
  background-color: rgba(250, 206, 124, 0.986);
}

.ImmersiveImage_2:hover{
  color: rebeccapurple;
  background-color: rgba(162, 0, 255, 0.986);
}

.ImmersiveImage_3:hover{
  color : #fff;
  background-color: rgba(255, 185, 79, 0.986);
}
.ImmersiveImage_4:hover{
  color : #fff;
  background-color: rgba(188, 79, 255, 0.986);
}

.ImmersiveImage_5:hover{
  color : #fff;
  background-color: rgba(255, 107, 107, 0.986);
}

.ImmersiveImage_6:hover{
  color : #fff;
  background-color: rgba(201, 201, 201, 0.986);
}

.Img_05 {
    object-fit: cover;
}

.videodivise {
    display: flex;
    justify-content: center;
}

.inscriptionsite {
    display: flex;
    justify-content: center;
}

.showoff {
    display: flex;
    flex-wrap: wrap;
}